@charset "UTF-8";
/* CSS Document */

/* ------------------- 
	SPACING AND MARGIN
-------------------- */
h2:first-of-type {
margin:0 9rem;	
}
.section-margin {
margin-bottom:15rem;	
}

/* ------------------- 
	SPACING AND MARGIN
-------------------- */


/* --------- 
	HERO
------------ */
#homepage-hero {
  background-image:url('http://placehold.it/1400x1000');
  height: 680px;
  text-align: center;
  position: relative;
  width:100%; }
#homepage-hero-type {
	position: relative;
	top:250px;
	}
.left-margin {
	margin-left: 50px;
	}
.panel {
	background-color:#F3F2F2;
	width:100%;
	}
 @media screen and (max-width: 768px) {
    #homepage-hero {
      padding: 40px 5px 30px 5px;
	  background-image:url('http://placehold.it/500x900'); 
	  height:500px;
	  } 
	#homepage-hero-type {
		position: relative;
		top:100px;
	} 
 }
	
#testimonial-callout-img {
  background-image:url('http://placehold.it/95x102');
  height: 102px;
  text-align: center;
  position: relative;
 }
 
 /* --------- 
	ABOUT
------------ */
#about {
	background-image:url('http://placehold.it/145x502');
  background-position:right;
  background-repeat:no-repeat;
	}

@media only screen and (min-width:40em) {
#about {
	background-image:url('http://placehold.it/510x690');
  background-position:right;
  background-repeat:no-repeat;
  margin: 100px 0 150px 10px;
	}
	}
	
/* --------- 
	FOOTER
------------ */
.social-icons {
display:inline;	
}