@charset "UTF-8";
/* CSS Document */

/* ------------------- 
	SPACING AND MARGIN
-------------------- */
.section-margin {
margin-bottom:15rem;	
}

/* ------------------- 
	SPACING AND MARGIN
-------------------- */


/* --------- 
	HERO
------------ */
#homepage-hero {
  background:url(../img/hero-img-woman.jpg) no-repeat;
  background-size: 87.5em;
  height: 42.5em; 
  text-align: center;
  position: relative;
  width:100%; }
#homepage-hero-type {
	position: relative;
	top:250px;
	}
.left-margin {
	margin-left: 50px;
	}
.panel {
	background-color:#F3F2F2;
	width:100%;
	}
@media screen and (max-width: 768px) {
    #homepage-hero {
      padding: 40px 5px 30px 5px;
	  background:url(../img/hero-img-woman.jpg) no-repeat; 
	  background-size: 56.25em;
	  height:31.25em;
	  }
	#homepage-hero-type {
		position: relative;
		top:100px;
	} 
	#testimonial-callout-img {
  text-align: center;
  position: relative;
 }
}
	
/* #testimonial-callout-img {
  background-image:url('http://placehold.it/95x102');
  height: 102px;
  text-align: center;
  position: relative;
 } */
 
 /* --------- 
	ABOUT
------------ */
#about {
	background:url(../img/about-img-jason.png) no-repeat;
  background-position:right;
  background-repeat:no-repeat;

	}

@media only screen and (min-width:40em) {
#about {
	background:url(../img/about-img-jason.png) no-repeat;
  background-position:right;
  background-repeat:no-repeat;
	}
	}
 /* ------------- 
	TESTIMONIALS
----------------- */

	
/* --------- 
	FOOTER
------------ */
.social-icons {
display:inline;	
}